<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1> 
    <form method="GET">
        <input type="text" name="q" placeholder="Search products">
        <button type="submit">Search</button>
    </form>
    
    <ul>
        {% for product in product %}
        <li>
        {{ product.name }} - {{ product.likes.count }} likes
        <a href="{% url 'like_product' product.id %}">Like</a> </li>
        {% endfor %}
    </ul>
</body>
</html>
